<a href="https://colab.research.google.com/github/mirairo/2013.6.21-/blob/master/20201123%EC%9D%B4%EC%A2%85%EA%B8%B0p49_53.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# chipotle 데이터셋의 기초 정보 살펴보기

In [1]:
import pandas as pd

# present workspace folder 탐색하기

In [2]:
pwd

'/content'

# '/content'폴더 하위에 data 폴더 신규 생성한 후 분석 파일 저장하기(분석 실행 후 자동삭제 확인)

In [3]:
file_path = './data/chipotle.tsv'

# read_csv()함수로 데이터를 데이터 프레임 형태로 부르기

chipo = pd.read_csv(file_path, sep = '\t')

print(chipo.shape)
print("------------------------------------------------------")
print(chipo.info())

(4622, 5)
------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB
None

# chipotle 데이터셋의 행과 열, 데이터 세부 확인하기

In [4]:
# chipo라는 데이터 프레임에서 순서대로 10개의 데이터 보기
chipo.head(10)
print(chipo.columns)
print("---------------------------------------------------------------------------")

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')
---------------------------------------------------------------------------

In [5]:
chipo.head(10)

   order_id  ...  item_price
0         1  ...      $2.39
1         1  ...      $3.39
2         1  ...      $3.39
3         1  ...      $2.39
4         2  ...     $16.98
5         3  ...     $10.98
6         3  ...      $1.69
7         4  ...     $11.75
8         4  ...      $9.25
9         5  ...      $9.25

[10 rows x 5 columns]

In [6]:
print(chipo.index)

RangeIndex(start=0, stop=4622, step=1)

# describe() 함수로 기초통계량 출력하기

In [7]:
# order_id는 숫자의 의미를 가지지 않기 때문에 str으로 반환됨
chipo['order_id']=  chipo['order_id'].astype(str)
print(chipo.describe())
# chipo 데이터 프레임에서 수치형 피처들의 기초 통계량을 확인함

          quantity
count  4622.000000
mean      1.075725
std       0.410186
min       1.000000
25%       1.000000
50%       1.000000
75%       1.000000
max      15.000000

# unique() 함수로 범주형 피처의 개수 출력하기

In [8]:
print(len(chipo['order_id'].unique()))
print(len(chipo['item_name'].unique()))

1834
50